@mixin lg {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin sm {
    @media (max-width: 576px) {
        @content;
    }
}

.Bottomform {

    width: 60%;

    p {
        margin: 0;
    }



    .long {
        display: block;

        @include md {
            display: none;
        }
    }

    .short {
        display: none;

        @include md {
            display: block;
        }
    }



    input {
        border-radius: 3rem;
        border: 1px solid #bbbbbb;
        padding: 5px;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    .bg-border {
        height: 40px;
        width: 120px;
        border: 1px solid #6d7473;
        border-radius: 5rem;

    }

    .sendbtn {
        border: 1px solid #000000;
        border-radius: 5rem;
        width: 120px;
        background-color: #ffffff;
        margin-left: -5px;
        margin-top: -3px;
    }




}